
<ul>
  <% last_month = Time.now.last_month.beginning_of_month %>
  <% last_year = last_month.last_year %>
  <li><%=link_to "Monthly payments that can receive post", { start_date: last_month, categories: [1, 2, 9, 15, 17] } %></li>
  <li><%=link_to "Yearly payments that can receive post", { start_date: last_year, categories: [8] } %></li>
</ul>

<%= form_tag("", method: "get") do %>
<%= label_tag :start_date, "Start date:" %>
<%= text_field_tag :start_date, @start_date, size:12 %>
<%= label_tag :end_date, "End date:" %>
<%= text_field_tag :end_date, @end_date, size:12 %>
<%= label_tag :categories, "Categories:" %>
<%= select_tag :categories, options_for_select( ProductCategory.all.map { |c| [c.name, c.id] }, params[:categories]), {multiple: true, size: 5} %>
<%= label_tag :invoice_status, "Invoice Status:" %>
<%= select_tag :invoice_status, options_for_select( Invoice.distinct.pluck(:status), @invoice_status) %>
<%= submit_tag "Show" %>
<% end %>

<h2>Service Users <%=Date.today%> (<%=@invoices.length%>)</h2>
<ul>
<% @categories.each do |cat_id| %>
  <li><%= ProductCategory.find(cat_id).name %></li>
<% end %>
</ul>
<table>
  <thead>
    <th></th>
    <th>Contact</th>
    <th>Product</th>
    <th>Last Invoice Date</th>
  </thead>
  <tbody>
  <% @invoices.each do |invoice| %>
    <tr>
      <td class="id"><%=invoice.id%></td>
      <td class="contact"><%=invoice.contact%></td>
      <td class="descriptions"><%= invoice.invoice_items.map { |ii| ii.description }.join ", " %></td>
      <td class="date"><%=invoice.date%></td>
    </tr>
  <% end %>
  </tbody>
</table>
